    <!-- footer -->
    <footer>
        <div id="contact" class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-md-12 ">
                        <div class="footer-box">
                            <div class="headinga">
                                <h3>Address</h3>
                                <span>Ngo 7 Hoang Dao Thanh Kim Giang Thanh Xuan Ha Noi</span>
                                <p>0918250758
                                    <br>ntungnam2789@gmail.com</p>
                            </div>
                            <ul class="location_icon">
                                <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="#"><i class="fa fa-instagram"></i></a></li>

                            </ul>
                            <div class="menu-bottom">
                                <ul class="link">
                                    <li> <a href="http://127.0.0.1:8000/">Home</a></li>
                                    <li> <a href="http://127.0.0.1:8000/about/">About</a></li>

                                    <li> <a href="http://127.0.0.1:8000/brand/">Brand </a></li>
                                    <li> <a href="http://127.0.0.1:8000/special/">Specials  </a></li>
                                    <li> <a href="http://127.0.0.1:8000/contact/"> Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2023. All Rights Reserved. Phone Store - Your Ultimate Destination for Phone Shopping.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->